@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@model cancellieri.andre.ecommerc.Models.Utente
@{
    ViewData["Title"] = "Login!";
}
@HttpContextAccessor?.HttpContext?.Session.GetString("login")

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panini Della Strefi</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .menu-item {
            margin-bottom: 30px;
            border-bottom: 1px solid #ddd;
            padding-bottom: 20px;
        }

        .menu-item:last-child {
            border-bottom: none;
        }

        .menu-item img {
            max-width: 100%;
            border-radius: 8px;
        }

        h2 {
            color: #333;
        }

        p {
            color: #666;
        }
    </style>
</head>

<h2>Accedi</h2>
<form asp-action="p1">
    <div>
        <label>Email:</label>
        <input type="Text" name="Email" required />
    </div>
    <div>
        <label>Password:</label>
        <input type="Password" name="Password" required />
    </div>
    <input type="submit" value="Accedi">
</form>