@model cancellieri.andre.ecommerc.Models.Utente

@{
    ViewData["Title"] = "Registrazione!";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panini Della Strefi</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .menu-item {
            margin-bottom: 30px;
            border-bottom: 1px solid #ddd;
            padding-bottom: 20px;
        }

        .menu-item:last-child {
            border-bottom: none;
        }

        .menu-item img {
            max-width: 100%;
            border-radius: 8px;
        }

        h2 {
            color: #333;
        }

        p {
            color: #666;
        }
    </style>
</head>

<h2>Modulo di Registrazione</h2>
<p>Riempi i seguenti campi e registrati nel nostro sito</p>
<form asp-controller="Home" asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="Nome"></label>
        <input type="text" asp-for="Nome" class="form-control" required/>
        <span asp-validation-for="Nome" />
    </div>
    <div class="form-group">
        <label asp-for="Cognome"></label>
        <input type="text" asp-for="Cognome" class="form-control" />
        <span asp-validation-for="Cognome" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input type="text" asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" />
    </div>
    <div class="form-group">
        <label asp-for="data_nascita"></label>
        <input type="data" asp-for="data_nascita" class="form-control" />
        <span asp-validation-for="data_nascita" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <textarea asp-for="Password" class="form-control"></textarea>
        <span asp-validation-for="Password" />
    </div>
    <div class="form-group">
        <div asp-validation-summary="All"></div>
        <button type="submit" value="registati"></i>Registrati!</button>
    </div>
</form>
