@{
    ViewData["Title"] = "Servizi";
}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panini Della Strefi</title>

    
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #ffffff;
            color: #000000; /* Colore del testo */
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .menu-item {
            margin-bottom: 30px;
            border-bottom: 1px solid #ddd;
            padding-bottom: 20px;
        }

        .menu-item:last-child {
            border-bottom: none;
        }

        .menu-item img {
            max-width: 100%;
            border-radius: 8px;
        }

        h2 {
            color: #333;
        }

        p {
            color: #666;
        }

        /* Stile per la sezione con sfondo immagine */
        #sfondo-immagine {
            background-image: url('sfondo.jpg'); /* Percorso dell'immagine di sfondo */
            background-size: cover; /* Copre tutto il contenuto della sezione */
            background-position: center; /* Centra l'immagine */
            padding: 50px 0; /* Aggiunge spazio sopra e sotto all'immagine */
            text-align: center; /* Centra il contenuto orizzontalmente */
            color: #ffffff; /* Colore del testo */
        }
    </style>
</head>
<body>
    <header>
        <h1>Servizi Offerti</h1>
        <p>Scopri i servizi che offriamo per rendere la tua esperienza alla Panineria La Stefy ancora più speciale.</p>
    </header>

    <section id="servizi">
        <h2>I nostri servizi</h2>
        <ul>
            <li>Personalizzazione dei panini: Scegli gli ingredienti che preferisci e crea il tuo panino perfetto.</li>
            <li>Opzioni vegetariane e vegane: Abbiamo una vasta selezione di panini adatti a vegetariani e vegani.</li>
            <li>Panini gourmet: Assapora la nostra selezione di panini gourmet, preparati con ingredienti di alta qualità.</li>
            <li>Eventi speciali: Organizziamo eventi speciali come degustazioni e serate a tema.</li>
            <li>Servizio di catering: Forniamo servizi di catering per feste, eventi aziendali e molto altro.</li>
            <li>Consegna a domicilio: Offriamo il servizio di consegna a domicilio per portare i nostri deliziosi panini direttamente a casa tua.</li>
        </ul>
    </section>


    <section id="sfondo-immagine">   
        <img src="/img/panineria.jpg" alt="Locale" width="450">
    </section>

    <br><br>

</body>
